.keypad {
	width: 550px;
	height: 400px;
	border-radius: 8px;
	background-color: #aaa;
	box-shadow: 0px 0px 10px #888888;
}

.keys {
	margin: 19px 0px 0px 19px;
	float: left;
	width: 360px;
	height: 360px;
	background-color: #bbb;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #888888;
}

.controls {
	width: 170px;
	float: right;
}

.button {
	background-color: #ddd;
	display: inline-block;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #333333;
	text-align: center;
	font-size: 32px;
	padding-top: 15px;
	cursor: pointer;
	margin: 19px 0px 0px 19px;
}

.number-key {
	width: 92px;
	height: 50px;
}

.button:hover {
	filter: brightness(105%);
}

.display {
	width: 130px;
	height: 65px;
	background-color: black;
	color: green;
	font-family: Open24Display;
	padding-top: 0px;
	font-size: 48px;
}

.command-key {
	width: 130px;
	height: 50px;
	font-family: Arial;
	font-weight: bold;
}

.light {
	width: 20px;
	height: 20px;
	border: 2px white solid;
	background-color: #bbb;
	border-radius: 50%;
	margin-top: 10px;
	box-shadow: 0px 5px 5px #888;
	display: inline-block;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.lights {
	text-align: center;
}


/*  FONTS  */
@font-face {
  font-family: 'Open24Display';
  src: url('open24.ttf');
}